<!-- DASHBOARD NAVBAR -->
<h2 class="text-center">FIREBLOG DASHBOARD</h2>
<div class="container-fluid px-0 pt-2 pb-5">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDashboard" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarDashboard">
        <div class="navbar-nav nav-fill" style="width:100%;">
          <a class="nav-item active nav-link" [routerLink]="['home']">Dashboard home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" [routerLink]="['creator']">Create new post</a>
          <a class="nav-item nav-link" [routerLink]="['editor']">Edit post</a>
          <a class="nav-item nav-link" [routerLink]="['upload']">Upload and manage content</a>
          <a class="nav-item nav-link"><button class="btn btn-danger py-0 my-0" (click)="authService.logout()">Logout</button></a>
        </div>
      </div>
    </nav>
</div>

<router-outlet></router-outlet>
